{% extends "core/base.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('editTemplateFile') }}
    <style type="text/css">
        .header{
            height: {{page.margin.header|default('2')}}cm;
            width: 100%;
            text-align: center;
        }
        .footer{
            height: {{page.margin.footer|default('2')}}cm;
            width: 100%;
            text-align: center;
        }
        .page-body {
            {% if page.orientation|default('portrait')=='landscape' %}
                height: {{page.size.width|default('21.59')-page.margin.header|default('2')-page.margin.footer|default('2')}}cm;
                min-height: {{page.size.width|default('21.59')-page.margin.header|default('2')-page.margin.footer|default('2')}}cm;
                max-height: {{page.size.width|default('21.59')-page.margin.header|default('2')-page.margin.footer|default('2')}}cm;
            {%else%}
                height: {{page.size.height|default('27.94')-page.margin.header|default('2')-page.margin.footer|default('2')}}cm;
                min-height: {{page.size.height|default('27.94')-page.margin.header|default('2')-page.margin.footer|default('2')}}cm;
                max-height: {{page.size.height|default('27.94')-page.margin.header|default('2')-page.margin.footer|default('2')}}cm;
            {% endif %}
        }
        .page {
            {% if page.orientation|default('portrait')=='landscape' %}
                width: {{page.size.height|default('27.94')}}cm;
                min-height: {{page.size.width|default('21.59')}}cm;
                max-height: {{page.size.width|default('21.59')}}cm;
            {%else%}
                width: {{page.size.width|default('21.59')}}cm;
                min-height: {{page.size.width|default('21.59')}}cm;
                max-height: {{page.size.height|default('27.94')}}cm;
            {% endif %}
            padding-left: {{ page.margin.left|default('2')}}cm;
            padding-right: {{ page.margin.right|default('2')}}cm;
            overflow:hidden;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('editTemplateFile') }}
{% endblock %}
{% block body %}

    <div class="animated fadeIn row">
        <div class="card col-6 px-0">
            <div class="card-header">
                <span class="h3"><i class="icon-layers"></i>&nbsp; {{ template.group.name|default('Global') }} | {{ template.name }} Vista</span>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                <div class="card px-0">
                    <div class="card-header">
                        <a class="btn btn-secondary btn-minimize" href="#" data-toggle="collapse" data-target="#collapseTemplateViewConfig" aria-expanded="true"><i class="icon-arrow-up"></i></a>
                        <span class="h4">&nbsp;Configuración de la vista</span>
                        {{ form_widget(form.saveView) }}
                    </div>
                    <div class="card-body" id="collapseTemplateViewConfig">
                        {{ form_row(form.size) }}
                        {{ form_row(form.orientation) }}
                        {% for item in form.margin.children %}
                            {{ form_row(item) }}
                        {% endfor %}
                    </div>
                </div>
                <div class="card px-0">
                    <div class="card-header">
                        <a class="btn btn-secondary btn-minimize" href="#" data-toggle="collapse" data-target="#collapseTemplateFile" aria-expanded="true"><i class="icon-arrow-up"></i></a>
                        <span class="h4">&nbsp;Template</span>
                        {{ form_widget(form.updateView) }}
                    </div>
                    <div class="card-body" id="collapseTemplateFile">
                        {{ form_row(form.template) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>

        </div>
        <div class="card col-6 document" style="zoom: 60%;">
            {{ (form.template.templateExternal.vars.value ~ form.template.templateBody.vars.value)|default('')|evaluate }}
        </div>
    </div>
{% endblock %}