{% extends "core/base.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('template') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('template') }}
{% endblock %}
{% block body %}

    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <span class="h3"><i class="icon-layers"></i>&nbsp; {{ template.group.name|default('Global') }} | {{ template.name }}</span>
                {% if hasWrite(template) %}
                    <div class="card-header-actions">
                        <a class="btn btn-pill btn-secondary" href="{{ path('template-view',{'id':template.id}) }}"><i class="fa fa-eye"></i>&nbsp;Configuración</a>
                    </div>
                {% endif %}
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                <div class="card">
                    <div class="card-header bg-gray-300">
                        General
                    </div>
                    <div class="card-body">
                        {{ form_row(form.name) }}
                        {{ form_row(form.type) }}
                        {{ form_row(form.properties) }}
                    </div>
                </div>
                <div class="card" id="form-fields">
                    <div class="card-header bg-gray-300">
                        Campos
                    </div>
                    <div class="card-body">
                        {% form_theme form.templateForm 'jquery.collection.html.twig'%}
                        {{ form_widget(form.templateForm) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>

        </div>
    </div>
{% endblock %}