{% extends "core/base.html.twig" %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
{% endblock %}
{% block body %}

    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <span class="h3"><i class="icon-layers"></i>&nbsp; {{ template.group.name|default('Global') }} | {{ template.name }}</span>
                {% if hasWrite(template) %}
                    <div class="card-header-actions">
                        <a class="btn btn-pill btn-secondary" href="{{ path('template-edit',{'id':template.id}) }}"><i class="fa fa-cog"></i>&nbsp;Editar</a>
                        <a class="btn btn-pill btn-secondary" href="{{ path('template-view',{'id':template.id}) }}"><i class="fa fa-eye"></i>&nbsp;Configuración</a>
                    </div>
                {% endif %}
            </div>
            <div class="card-body">
                <h3>Configuración</h3>
                <table class="table table-responsive-sm table-striped">
                    <thead>
                        <tr>
                            <th>Configuración</th>
                            <th>Descripción</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for field in template.settings.settings|default([]) %}
                            <tr>
                                <td>{{ field.name }}</td>
                                <td>{{ field.description }}</td>
                                <td>{{ field.value }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-center">Sin Configuraciónes</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3>Campos</h3>
                <table class="table table-responsive-sm table-striped">
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Descripción</th>
                            <th>Tipo de campo</th>
                            <th>Requerido</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for field in template.settings.fields|default([]) %}
                            <tr>
                                <td>{{ field.name }}</td>
                                <td>{{ field.description|default('Vacio') }}</td>
                                <td>{{ field.type }}</td>
                                <td>{{ field.required|default(false)?'Requerido':'Opcional' }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-center">Sin Campos</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}