{% extends "core/base.html.twig" %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
{% endblock %}
{% block body %}

    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <nav class="breadcrumb h4">
                    <a class="breadcrumb-item" href="{{ path('projects') }}">Proyectos</a>
                    <a class="breadcrumb-item" href="{{ path('project',{'id':version.document.project.id}) }}">{{ version.document.project.group.name|default('Global') }} / {{ version.document.project.name }}</a>
                    <a class="breadcrumb-item" href="{{ path('document',{'id':version.document.id}) }}">{{ version.document.name }}</a>
                    <span class="breadcrumb-item">{{ version.date|date('d/m/Y H:i:s') }}</span>
                    <span class="breadcrumb-item active">Editar</span>
                </nav>
                <div class="card-header-actions">
                    <span class="badge badge-warning">Editar una versión, bloqueara todas las versiones no bloqueadas y la mandara al principio de la lista de versiones.</span>
                </div>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                <div class="card">
                    <div class="card-header bg-gray-300">
                        General
                    </div>
                    <div class="card-body">
                        {{ form_row(form.properties) }}
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-gray-300">
                        Campos
                    </div>
                    <div class="card-body">
                        {{ form_widget(form.fields) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>

        </div>
    </div>
{% endblock %}