<!DOCTYPE html>
{% if app.user is defined %}
    {% set notifications = app.user.notifications %}
{% endif %}
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %}Bienvenido!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="app header-fixed sidebar-fixed sidebar-off-canvas sidebar-lg-show sidebar-compact">
        <header class="app-header navbar">
            {% include 'core/header.html.twig' %}
        </header>
        <div class="app-body">
            {% include 'core/sidebar.html.twig' %}
            <main class="main">
                <div class="container-fluid mt-4">
                    {% block body %}
                    {% endblock %}
                </div>
            </main>
            {#
            <aside class="aside-menu">
                {% include 'core/aside.html.twig' %}
            </aside>
            #}
        </div>
        {% if messages is defined and messages|length > 0 %}
        <messages style="display: none;">
            {% for msg in messages %}
                <msg id="msg-{{ loop.index }}" mode="{{ msg.mode }}" text="{{ msg.text|escape('html') }}"/>
            {% endfor %}
        </messages>
    {% endif %}
    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}{% endblock %}
    <script>
        {% if app.request.hasPreviousSession %}
            {% for msg in app.session.flashbag.get('error') %}
                {% set title = msg|split('|')|length == 2 ? msg|split('|')[0] : "" %}
                {% set msg = msg|split('|')|length == 2 ? msg|split('|')[1] : msg %}
                    toastr.error("{{title}}", "{{ msg }}");
            {% endfor %}
            {% for msg in app.session.flashbag.get('warning') %}
                {% set title = msg|split('|')|length == 2 ? msg|split('|')[0] : "" %}
                {% set msg = msg|split('|')|length == 2 ? msg|split('|')[1] : msg %}
                    toastr.warning("{{title}}", "{{ msg }}");
            {% endfor %}
            {% for msg in app.session.flashbag.get('info') %}
                {% set title = msg|split('|')|length == 2 ? msg|split('|')[0] : "" %}
                {% set msg = msg|split('|')|length == 2 ? msg|split('|')[1] : msg %}
                    toastr.info("{{title}}", "{{ msg }}");
            {% endfor %}
            {% for msg in app.session.flashbag.get('success') %}
                {% set title = msg|split('|')|length == 2 ? msg|split('|')[0] : "" %}
                {% set msg = msg|split('|')|length == 2 ? msg|split('|')[1] : msg %}
                    toastr.success("{{title}}", "{{ msg }}");
            {% endfor %}
        </script>
    {% endif %}
</body>
</html>