<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>render</title>
        {{ encore_entry_link_tags('print') }}
        <style type="text/css">
            html, body {
                height: 100%;
                width: 100%;
            }
            body{
                font-family: {{page.font|default('Arial')}};
            }
            .sf-toolbar{
                display:none!important;
            }
            .header{
                height: {{page.margin.header|default('2')}}{{page.unit|default('cm')}};
                width: 100%;
                text-align: center;
            }
            .footer{
                height: {{page.margin.footer|default('2')}}{{page.unit|default('cm')}};
                width: 100%;
                text-align: center;
            }
            .page-body {
                {% if page.orientation|default('portrait')=='landscape' %}
                    height: {{page.size.width|default('21.59')-page.margin.header|default('2')-page.margin.footer|default('2')}}{{page.unit|default('cm')}};
                    min-height: {{page.size.width|default('21.59')-page.margin.header|default('2')-page.margin.footer|default('2')}}{{page.unit|default('cm')}};
                    max-height: {{page.size.width|default('21.59')-page.margin.header|default('2')-page.margin.footer|default('2')}}{{page.unit|default('cm')}};
                {%else%}
                    height: {{page.size.height|default('27.94')-page.margin.header|default('2')-page.margin.footer|default('2')}}{{page.unit|default('cm')}};
                    min-height: {{page.size.height|default('27.94')-page.margin.header|default('2')-page.margin.footer|default('2')}}{{page.unit|default('cm')}};
                    max-height: {{page.size.height|default('27.94')-page.margin.header|default('2')-page.margin.footer|default('2')}}{{page.unit|default('cm')}};
                {% endif %}
            }
            .page {
                {% if page.orientation|default('portrait')=='landscape' %}
                    width: {{page.size.height|default('27.94')}}{{page.unit|default('cm')}};
                    min-height: {{page.size.width|default('21.59')}}{{page.unit|default('cm')}};
                    max-height: {{page.size.width|default('21.59')}}{{page.unit|default('cm')}};
                {%else%}
                    width: {{page.size.width|default('21.59')}}{{page.unit|default('cm')}};
                    min-height: {{page.size.width|default('21.59')}}{{page.unit|default('cm')}};
                    max-height: {{page.size.height|default('27.94')}}{{page.unit|default('cm')}};
                {% endif %}
                padding-left: {{ page.margin.left|default('2')}}{{page.unit|default('cm')}};
                padding-right: {{ page.margin.right|default('2')}}{{page.unit|default('cm')}};
                overflow:hidden;
            }
            @page {
                {% if page.orientation|default('portrait')=='landscape' %}
                    max-width: {{page.size.height|default('27.94')}}{{page.unit|default('cm')}};
                    max-height: {{page.size.width|default('21.59')}}{{page.unit|default('cm')}};
                {% else %}
                    max-width: {{page.size.width|default('21.59')}}{{page.unit|default('cm')}}!important;
                    max-height: {{page.size.height|default('27.94')}}{{page.unit|default('cm')}}!important;
                {% endif %}
                size: {{page.size.name|default('letter')}} {{page.orientation|default('portrait')}};
                margin-top: {{ page.margin.header is defined ? '0' : page.margin.top|default('2')}}{{page.unit|default('cm')}};
                margin-left: {{ page.margin.left|default('2')}}{{page.unit|default('cm')}};
                margin-right: {{ page.margin.right|default('2')}}{{page.unit|default('cm')}};
                margin-bottom: {{ page.margin.footer is defined ? '0' : page.margin.bottom|default('2')}}{{page.unit|default('cm')}};
            }
        </style>
    </head>
    <body class="document">
        <div class="header">
            {% block header %}
                <img src="{{ asset('img/header.png') }}" style="height: 2.5cm">
                <p><strong><span>REPORTE DE AVANCES DE GESTIÓN</span></strong><br>
                    <span><i>Seguimiento de Proyectos, Requerimientos y Servicios de la </i><strong>DGTID</strong></span></p>
                {% endblock %}
        </div>
        <div class="footer">
            {% block footer %}
                <p><strong><span>Revisó:  {| document.lockedBy.fullName |}</span></strong></p>
            {% endblock %}
        </div>
        {% block document %}
            <div class="page" contenteditable="true">
                <table>
                    <tbody>
                        <tr style="height: 1cm">
                            <td colspan="4">
                                <p><strong><span style="font-size:16pt;color:#365F91;">Datos generales del proyecto</span></strong></p>
                            </td>
                        </tr>
                        <tr style="height: 0.5cm"></tr>
                        <tr style="height: 1.5cm">
                            <td colspan="4" style="background: #AEAAAA; border: 1pt solid #AEAAAA;border-right: none">
                                <p style="text-align:center;"><strong><span>Nombre:</span></strong></p>
                            </td>
                            <td colspan="7" style="border: 1pt solid black;">
                                <p style="text-align:center;"><span>{| proyect.name |}</span></p>
                            </td>
                        </tr>
                        <tr style="height: 0.5cm">
                        </tr>
                        <tr style="height: 2.5cm">
                            <td colspan="4" style="background: #D0CECE; border: 1pt solid #D0CECE;border-right: none">
                                <p style="text-align:center;"><strong><span>Objetivo:</span></strong></p>
                            </td>
                            <td colspan="7" style="border: 1pt solid black;">
                                <p style="text-align:center;"><span>{| proyect.settings.objetivo |}</span></p>
                            </td>
                        </tr>
                        <tr style="height: 0.5cm"></tr>
                        <tr style="height: 1cm">
                            <td colspan="4" style="background: #AEAAAA; border: 1pt solid #AEAAAA;border-right: none">
                                <p style="text-align:center;"><strong><span>Titular Responsable:</span></strong></p>
                            </td>
                            <td colspan="7" style="border: 1pt solid black;">
                                <p style="text-align:center;"><span>{| proyect.group.owner.fullName |}</span></p>
                            </td>
                        </tr>
                        <tr style="height: 0.5cm"></tr>
                        <tr style="height: 1cm">
                            <td colspan="4" style="background: #D0CECE; border: 1pt solid #D0CECE;border-right: none">
                                <p style="text-align:center;"><strong><span>Unidad:</span></strong></p>
                            </td>
                            <td colspan="7" style="border: 1pt solid black;">
                                <p style="text-align:center;"><span>{| proyect.group.name |}</span></p>
                            </td>
                        </tr>
                        <tr style="height: 0.5cm"></tr>
                        <tr style="height: 1cm">
                            <td colspan="4" style="background: #AEAAAA; border: 1pt solid #AEAAAA;border-right: none">
                                <p style="text-align:center;"><strong><span>Clave del Proyecto asignado por la PMO:</span></strong></p>
                            </td>
                            <td colspan="7" style="border: 1pt solid black;">
                                <p style="text-align:center;"><span>{| proyect.settings.clavePMO |}</span></p>
                            </td>
                        </tr>
                        <tr style="height: 0.5cm"></tr>
                        <tr style="height: 1cm">
                            <td colspan="2" style="background: #D0CECE; border: 1pt solid #D0CECE;border-right: none">
                                <p style="text-align:center;"><strong><span>Porcentaje de<br> avance:</span></strong></p>
                            </td>
                            <td colspan="2" style="border: 1pt solid black;">
                                <p style="text-align:center;"><span>{| document.progreso |}</span></p>
                            </td>
                            <td colspan="3"></td>
                            <td colspan="2" style="background: #D0CECE; border: 1pt solid #D0CECE;border-right: none">
                                <p style="text-align:center;"><strong><span>Estatus:</span></strong></p>
                            </td>
                            <td colspan="2" style="border: 1pt solid black;">
                                <p style="text-align:center;"><span>{| document.status |}</span></p>
                            </td>
                        </tr>
                        <tr style="height: 1cm"></tr>
                        <tr style="height: 1cm">
                            <td colspan="2"></td>
                            <td colspan="3" style="background: #AEAAAA; border: 1pt solid #AEAAAA;border-right: none">
                                <p style="text-align:center;"><strong><span>Fecha de actualización:</span></strong></p>
                            </td>
                            <td colspan="4" style="border: 1pt solid black;">
                                <p style="text-align:center;"><span>{| document.date |}</span></p>
                            </td>
                        </tr>
                        <tr style="visibility: collapse;">
                            <td style="width: calc(99%/11)"></td><td style="width: calc(99%/11)"></td><td style="width: calc(99%/11)"></td>
                            <td style="width: calc(99%/11)"></td><td style="width: calc(99%/11)"></td><td style="width: calc(99%/11)"></td>
                            <td style="width: calc(99%/11)"></td><td style="width: calc(99%/11)"></td><td style="width: calc(99%/11)"></td>
                            <td style="width: calc(99%/11)"></td><td style="width: calc(99%/11)"></td><td style="width: calc(99%/11)"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="page" contenteditable="true">
                <table>
                    <tbody>
                        <tr style="height: 1cm">
                            <td colspan="4">
                                <p><strong><span style="font-size:16pt;color:#365F91;">Datos generales del proyecto</span></strong></p>
                            </td>
                        </tr>
                        <tr style="height: 0.5cm"></tr>
                        <tr style="height: 1.5cm">
                            <td colspan="4" style="background: #AEAAAA; border: 1pt solid #AEAAAA;border-right: none">
                                <p style="text-align:center;"><strong><span>Nombre:</span></strong></p>
                            </td>
                            <td colspan="7" style="border: 1pt solid black;">
                                <p style="text-align:center;"><span>{| proyect.name |}</span></p>
                            </td>
                        </tr>
                        <tr style="height: 0.5cm">
                        </tr>
                        <tr style="height: 2.5cm">
                            <td colspan="4" style="background: #D0CECE; border: 1pt solid #D0CECE;border-right: none">
                                <p style="text-align:center;"><strong><span>Objetivo:</span></strong></p>
                            </td>
                            <td colspan="7" style="border: 1pt solid black;">
                                <p style="text-align:center;"><span>{| proyect.settings.objetivo |}</span></p>
                            </td>
                        </tr>
                        <tr style="height: 0.5cm"></tr>
                        <tr style="height: 1cm">
                            <td colspan="4" style="background: #AEAAAA; border: 1pt solid #AEAAAA;border-right: none">
                                <p style="text-align:center;"><strong><span>Titular Responsable:</span></strong></p>
                            </td>
                            <td colspan="7" style="border: 1pt solid black;">
                                <p style="text-align:center;"><span>{| proyect.group.owner.fullName |}</span></p>
                            </td>
                        </tr>
                        <tr style="height: 0.5cm"></tr>
                        <tr style="height: 1cm">
                            <td colspan="4" style="background: #D0CECE; border: 1pt solid #D0CECE;border-right: none">
                                <p style="text-align:center;"><strong><span>Unidad:</span></strong></p>
                            </td>
                            <td colspan="7" style="border: 1pt solid black;">
                                <p style="text-align:center;"><span>{| proyect.group.name |}</span></p>
                            </td>
                        </tr>
                        <tr style="height: 0.5cm"></tr>
                        <tr style="height: 1cm">
                            <td colspan="4" style="background: #AEAAAA; border: 1pt solid #AEAAAA;border-right: none">
                                <p style="text-align:center;"><strong><span>Clave del Proyecto asignado por la PMO:</span></strong></p>
                            </td>
                            <td colspan="7" style="border: 1pt solid black;">
                                <p style="text-align:center;"><span>{| proyect.settings.clavePMO |}</span></p>
                            </td>
                        </tr>
                        <tr style="height: 0.5cm"></tr>
                        <tr style="height: 1cm">
                            <td colspan="2" style="background: #D0CECE; border: 1pt solid #D0CECE;border-right: none">
                                <p style="text-align:center;"><strong><span>Porcentaje de<br> avance:</span></strong></p>
                            </td>
                            <td colspan="2" style="border: 1pt solid black;">
                                <p style="text-align:center;"><span>{| document.progreso |}</span></p>
                            </td>
                            <td colspan="3"></td>
                            <td colspan="2" style="background: #D0CECE; border: 1pt solid #D0CECE;border-right: none">
                                <p style="text-align:center;"><strong><span>Estatus:</span></strong></p>
                            </td>
                            <td colspan="2" style="border: 1pt solid black;">
                                <p style="text-align:center;"><span>{| document.status |}</span></p>
                            </td>
                        </tr>
                        <tr style="height: 1cm"></tr>
                        <tr style="height: 1cm">
                            <td colspan="2"></td>
                            <td colspan="3" style="background: #AEAAAA; border: 1pt solid #AEAAAA;border-right: none">
                                <p style="text-align:center;"><strong><span>Fecha de actualización:</span></strong></p>
                            </td>
                            <td colspan="4" style="border: 1pt solid black;">
                                <p style="text-align:center;"><span>{| document.date |}</span></p>
                            </td>
                        </tr>
                        <tr style="visibility: collapse;">
                            <td style="width: calc(99%/11)"></td><td style="width: calc(99%/11)"></td><td style="width: calc(99%/11)"></td>
                            <td style="width: calc(99%/11)"></td><td style="width: calc(99%/11)"></td><td style="width: calc(99%/11)"></td>
                            <td style="width: calc(99%/11)"></td><td style="width: calc(99%/11)"></td><td style="width: calc(99%/11)"></td>
                            <td style="width: calc(99%/11)"></td><td style="width: calc(99%/11)"></td><td style="width: calc(99%/11)"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endblock %}
        {{ encore_entry_script_tags('print') }}
    </body>
</html>
