{% extends "core/base.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('datatables_app') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('datatables_app') }}
    {{ encore_entry_script_tags('proyects') }}
{% endblock %}
{% block body %}

    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header"><i class="icon-layers"></i> Proyectos
            </div>
            <div class="card-body">
                <table class="table table-striped datatable">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Ultima actualización</th>
                            <th>Avance</th>
                        </tr>
                    </thead>
                    <tbody>
                    <a class=""></a>
                        {% for proyect in proyects %}
                            <tr href="{{ path('proyect',{'id':proyect.id}) }}">
                            <td>{{ proyect.name }}</td>
                            <td>{{ proyect.lastUpdate|date('d/m/Y H:i:s') }}</td>
                            <td>
                                <div class="progress-group m-0 p-1">
                                    <div class="progress-group-bars">
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: {{proyect.progress}}%" aria-valuenow="{{ proyect.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="ml-2"><span class="h6">{{proyect.progress}}%</span></div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}