{% extends "core/base.html.twig" %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script>
        $('#settings_users_fill').click(function() {
            bootbox.confirm("Se iniciara el rellenado de la base de datos del SIARPS\n\
                             realizando la conexion con el Directorio activo, este proceso puede llevar unos minutos.", function(result) {
                if (result === true) {
                    window.location.replace("{{path('settings-action',{'action':'fillUsers'})}}");
                }
            });
        });
    </script>
{% endblock %}
{% block body %}
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-3 toc" style="pos">
                <div class="card" style="width: 18rem;">
                    <div class="card-header bg-gray-300">
                        Configuración
                    </div>
                    <div id="setting-list" class="list-group list-group-flush">
                        <a href="#setting-general" class="list-group-item list-group-item-action">General</a>
                        <a href="#setting-seguridad" class="list-group-item list-group-item-action">Seguridad</a>
                        <a href="#setting-usuarios" class="list-group-item list-group-item-action">Usuarios</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                {{ form_start(form) }}
                <div class="card" style="height: 30em" id="setting-general">
                    <div class="card-header bg-gray-300">
                        General
                    </div>
                    <div class="card-body">
                        {{ form_row(form.adminGroup) }}
                        {{ form_row(form.groupConfig) }}
                        {{ form_row(form.ldapGroupConfig) }}
                    </div>
                </div>
                <div class="card" style="height: 30em" id="setting-seguridad">
                    <div class="card-header bg-gray-300">
                        Seguridad
                    </div>
                    <div class="card-body">

                    </div>
                </div>
                <div class="card" style="height: 30em" id="setting-usuarios">
                    <div class="card-header bg-gray-300">
                        Usuarios
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="settings_users_fill">Grupo de Administración</label>
                            <a id="settings_users_fill" class="btn btn-square btn-secondary">Rellenar usuarios desde el Directorio Activo</a>
                            </select>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}