{% extends "core/base.html.twig" %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{% block body %}

    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <nav class="breadcrumb h4">
                            <a class="breadcrumb-item" href="{{ path('groups') }}">Grupos</a>
                            <a class="breadcrumb-item" href="{{ path('groups',{'id':group.id}) }}">{{ group.name }}</a>
                            <span class="breadcrumb-item active">Editar</span>
                        </nav>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        
                        {{ form_end(form) }}
                    </div>
                </div>
                <!-- /.col-->
            </div>
            <!-- /.row-->
        </div>
    {% endblock %}