{% extends "core/base.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('datatables_app') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('datatables_app') }}
    {{ encore_entry_script_tags('users') }}
{% endblock %}
{% block body %}

    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header"><i class="fa fa-edit"></i> Usuarios
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered datatable">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th class="text-center"><i class="icon-people"></i></th>
                            <th>Nombre</th>
                            <th data-column-filter>Grupo de trabajo</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td class="text-center">
                                    <img srcset="{{ user.photo is not null ? resource(user.photo) : "#"  }}"  src="{{ asset('img/avatars/Default-Profile.jpg') }}" width="32" height="32"/>
                        <picture>
                            <source srcset="{{ user.photo is not null ? resource(user.photo) : ""  }}" onerror="javascript:this.remove()">
                            <img src="{{ asset('img/avatars/Default-Profile.jpg') }}" width="32" height="32"/>
                        </picture>
                        </td>
                        <td>{{ user.fullName }}</td>
                        <td>{{ user.group.name }}</td>
                        <td><span class="badge badge-success">Active</span></td>
                        <td><a class="btn btn-success" href="#"><i class="fa fa-search-plus"></i></a><a class="btn btn-info" href="#"><i class="fa fa-edit"></i></a><a class="btn btn-danger" href="#"><i class="fa fa-trash-o"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}