{% extends "core/base.html.twig" %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{% block body %}

    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Usuario: {{ user.username }}
                        <div class="card-header-actions">
                            {% if hasWrite(user) %}
                                <a class="card-header-action" href="#"><i class="fas fa-edit text-info fa-lg"></i></a>
                                {% endif %}
                                {% if hasDelete(user) %}
                                <a class="card-header-action" href="#"><i class="fas fa-trash text-danger fa-lg"></i></a>
                                {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row p-3">
                            <div class="col-md-4">
                                <div class="text-center">
                                    <img  class="rounded img-fluid" src="{{ user.photo is not null ? resource(user.photo) : ""  }}" fallback-src="{{ asset('img/avatars/Default-Profile.jpg') }}" width="320" height="320"/>
                                </div>
                            </div>
                            <div class="col-md-8 mt-md-0 mt-3">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col">
                                        <h4>Nombre:</h2>
                                    </div>
                                    <div class="col-lg-9 col-md-8 col">
                                        <h4>{{ user.firstName }}</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col">
                                        <h4>Apellidos:</h2>
                                    </div>
                                    <div class="col-lg-9 col-md-8 col">
                                        <h4>{{ user.lastName }}</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col">
                                        <h4>E-mail:</h2>
                                    </div>
                                    <div class="col-lg-9 col-md-8 col">
                                        <h4>{{ user.email }}</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col">
                                        <h4>Pertenece a:</h2>
                                    </div>
                                    <div class="col-lg-9 col-md-8 col">
                                        <h4>{{ user.group.name}}</h4>
                                        <h5>{{ user.group.description}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="brand-card">
                                    <div class="brand-card-header bg-success">
                                        <i class="fas fa-thumbs-up fa-2x fa-inverse"></i>
                                    </div>
                                    <div class="brand-card-body">
                                        <div>
                                            <div class="text-value">{{ projects.done??"400" }}</div>
                                            <div class="text-uppercase text-muted small">Proyectos realizados</div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--/.col-->
                            <div class="col-sm-4">
                                <div class="brand-card">
                                    <div class="brand-card-header bg-warning">
                                        <i class="fas fa-tasks fa-2x fa-inverse"></i>
                                    </div>
                                    <div class="brand-card-body">
                                        <div>
                                            <div class="text-value">{{ projects.now??"100" }}</div>
                                            <div class="text-uppercase text-muted small">Proyectos en proceso</div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--/.col-->
                            <div class="col-sm-4">
                                <div class="brand-card">
                                    <div class="brand-card-header bg-danger">
                                        <i class="fas fa-hourglass-half fa-2x fa-inverse"></i>
                                    </div>
                                    <div class="brand-card-body">
                                        <div>
                                            <div class="text-value">{{ projects.late??"50" }}</div>
                                            <div class="text-uppercase text-muted small">Proyectos retrasados</div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--/.col-->
                        </div>
                    </div>
                </div>
                <!-- /.col-->
            </div>
            <!-- /.row-->
        </div>
    {% endblock %}