{% extends "core/base.html.twig" %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
{% endblock %}
{% block body %}

    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <nav class="breadcrumb h4">
                    <a class="breadcrumb-item" href="{{ path('projects') }}">Proyectos</a>
                    <a class="breadcrumb-item" href="{{ path('project',{'id':project.id}) }}">{{ project.group.name|default('Global') }} / {{ project.name }}</a>
                    <span class="breadcrumb-item active">Editar</span>
                </nav>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                <div class="card">
                    <div class="card-header bg-gray-300">
                        General
                    </div>
                    <div class="card-body">
                        {{ form_row(form.name) }}
                        {{ form_row(form.description) }}
                        {{ form_row(form.summary) }}
                        {{ form_row(form.progressDocument) }}
                        {{ form_row(form.properties) }}
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-gray-300">
                        Documentos
                    </div>
                    <div class="card-body">
                        {% form_theme form.documents 'jquery.collection.html.twig'%}
                        {{ form_widget(form.documents) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>

        </div>
    </div>
{% endblock %}