{% extends "core/base.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('datatables_app') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('datatables_app') }}
    {{ encore_entry_script_tags('projects') }}
{% endblock %}
{% block body %}

    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header"><i class="icon-layers"></i> Proyectos
                {% if hasWrite(app.user.group) %}
                <div class="card-header-actions">
                    <a class="btn btn-pill btn-success" href="{{ path('project-new') }}"><i class="fa fa-plus"></i>&nbsp;Añadir un proyecto</a>
                </div>
                {% endif %}
            </div>
            <div class="card-body">
                <table class="table table-striped datatable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Ultima actualización</th>
                            <th data-width="35%">Avance</th>
                            <th data-width="15%">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for project in projects %}
                        <tr>
                            <td>{{ project.name }}</td>
                            <td>{{ project.lastUpdate|default('now')|date('d/m/Y H:i:s') }}</td>
                            <td>
                                <div class="progress-group m-0 p-1">
                                    <div class="progress-group-bars">
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: {{project.progress|default('55')}}%" aria-valuenow="{{ project.progress|default('55') }}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                            <div class="ml-2"><span class="h6">{{project.progress|default('55')}}%</span></div>
                                </div>
                            </td>
                            <td>
                                <a class="btn btn-info" href="{{ path('project',{'id':project.id}) }}"><i class="fas fa-eye"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}